@model IEnumerable<SchoolManagementApp.MVC.Data.Class>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lecturer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @item.Course.Code - @item.Course.Name
            </td>
            <td>
                @item.Lecturer.FirstName @item.Lecturer.LastName
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                <button data-id="@item.Id" class="btn btn-danger deleteBtn" type="button">Delete</button>
                <a asp-action="ManageEnrollments" class="btn btn-success" asp-route-classId="@item.Id">Manage Enrollments</a> 
            </td>
        </tr>
}
    </tbody>
</table>

<form asp-action="Delete" id="classDeleteForm">
    <input type="hidden" id="classid" name="Id"/>
</form>

@section Scripts{
    <script>
        $(function(){
            $('.table').DataTable();
            
            $('.deleteBtn').click(function(e){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            Swal.fire(
                            'Deleted!',
                            'Your file has been deleted.',
                            'success'
                            );
                            var btn = $(this);
                            var id = btn.data("id");
                            $('#courseid').val(id);
                            $('#courseDeleteForm').submit();
                        }
                    })
            })
        })
    </script>
}